global
        user haproxy
        group haproxy
        daemon
        maxconn 4096

defaults
        mode    tcp
        balance leastconn
        timeout client      300ms
        timeout server      30000ms
        timeout tunnel      12h
        timeout connect     30000ms
        retries 3

frontend fr_server1
        bind 0.0.0.0:<LOCAL_PORT>
        default_backend bk_server1

backend bk_server1
        server srv1 <REMOTE_ADDR> maxconn 2048
